/* BENEFITS SECTION */
.benefits-title {
  display: flex;
  text-align: left;
  justify-content: left;

}
.benefits {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 70px;
}
.benefits-section {
  background: #1e1823;
  padding: 50px 50px 50px 50px;
}
.benefits-description {
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.28px;
  text-align: left;
  padding-top: 18px;
}
.benefits-title {
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.28px;
  padding-top: 22px;
}
.benefits-icons{
  width: 62px;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.50);
}
