:root {
  --orange: #fd9222;
  --black: #111;
  --white: #fff;
  --dwhite: #fafafa;
  --pale: #fcf1e0;
}

.best-seller-top-sell,
.best-seller-buy-now {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

.best-seller-top {
  color: #fd9222;
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 116.667% */
  letter-spacing: -0.72px;
}

.best-seller-buy {
  color: var(--orange);
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.72px;
  text-transform: uppercase;
}

.best-seller-sellers {
  color: #111;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.72px;
  text-transform: uppercase;
}

.best-seller-text-button {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.best-seller-description {
  color: #111;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.28px;
  display: none;

  @media screen and (min-width: 768px) {
    width: 309px;
    display: inline-block;
  }
  @media screen and (min-width: 1200px) {
    width: 407px;
    margin-left: 20px;
    display: inline-block;
  }
}

.best-seller-choco {
  padding-top: 32px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 16px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }
}

.best-seller-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.best-seller-img {
  border-radius: 15px;
}

.best-seller-item-text {
  color: #111;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.28px;
  margin-top: 32px;
  display: flex;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.best-seller-item:last-child {
  display: none;

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.best-seller-buy-btn {
  background-color: var(--orange);
  color: var(--white);
  border-color: transparent;
  border-radius: 100px;
  font-size: 18px;
  font-weight: 600;
  font-family: inherit;
  padding: 14px 40px;
  display: block;
  margin: 0 auto;

  transition: color background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    display: inline;
    margin-left: 236px;
  }
  @media screen and (min-width: 1200px) {
    display: inline;
    margin-left: 567px;
  }
}

.best-seller-buy-btn:hover,
.best-seller-buy-btn:focus {
  color: var(--orange);
  background-color: var(--pale);
}

/* modal */

.best-seller-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  // height: 100vh;
  max-height: 100vh;
  overflow-y: auto;
  padding: 0 24px 24px 24px;
  border-radius: 4px;
  background-color: var(--dwhite);
  z-index: 1000;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 375px) {
    height: auto;
  }

  @media screen and (min-width: 768px) {
    max-height: 100vh;
    overflow-y: auto;
    width: 609px;
  }

  @media screen and (min-width: 1200px) {
    max-height: 100vh;
    overflow-y: auto;
    width: 609px;
  }
}

/* modal close button */
.best-seller-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms ease-in-out;
}

.best-seller-backdrop.is-hidden .best-seller-modal {
  transform: translate(-50%, -50%) scale(0);
}

.best-seller-modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: var(--black);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.best-seller-close-icon {
  fill: currentColor;
}

.best-seller-header-text {
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.72px;
  text-align: center;
  margin-top: 48px;
  margin-bottom: 32px;
}

.best-seller-modal-close:hover,
.best-seller-modal-close:focus {
  fill: var(--orange);
}

.is-hidden {
  visibility: none;
  opacity: 0;
  pointer-events: none;
}

/* chocolate buys */
.best-seller-buy-choco {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-left: 48.5px;
  margin-right: 48.5px;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 16px;
    margin-left: 48.5px;
    margin-right: 48.5px;
  }
}

.modal-best-seller-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  gap: 77px;
  width: 100%;
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background: #fff;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 160px;
    padding: 24px 20px 18px 20px;
    align-items: center;
    gap: 14px;
  }
}

.best-seller-image {
  @media screen and (min-width: 375px) {
  }
}

.buy-btn-m {
  display: flex;
  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
  padding: 6px 16px;
  justify-content: center;
  gap: 14px;
  border-radius: 100px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background: #fafafa;
}

/* personal info */

.best-seller-modal-form {
  margin-left: 48px;
  margin-right: 48px;
  margin-bottom: 18px;
}

.best-seller-form-field {
  display: block;
  position: relative;
  flex-direction: column;
  padding: 0;
  margin: 40px 0;
}

.best-seller-form-label {
  font-size: 12px;
  font-weight: 500;
  color: var(--black);
  line-height: 14px;
  letter-spacing: -0.24px;
}

.best-seller-form-field .form-input,
.best-seller-form-field .form-textarea {
  display: block;
  outline: none;
  width: 100%;
  font-family: inherit;
  margin: 0 0 10px 0;
  padding: 14px 18px;
  font-size: 18px;
  line-height: 0.87px;
  letter-spacing: 0.01em;
  color: var(--black);
  font-weight: 400;
  line-height: normal;
  border-radius: 8px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  box-shadow: 0px 5.44492px 5.44492px 0px rgba(0, 0, 0, 0.03);
}

.best-seller-form-field .form-label {
  position: absolute;
  top: -16px;
  font-family: inherit;
  font-size: 12px;
  line-height: 0.87;
  letter-spacing: 0.01em;
}

.country-code {
  position: absolute;
  top: 60%;
  left: 12px;
  transform: translateY(-50%);
}

.country-code-text {
  color: #000;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.36px;
  padding-left: 50px;
}

.form-input::placeholder,
.form-textarea::placeholder {
  color: rgba(64, 64, 64, 0.3);
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.36px;
}

.form-input,
.form-textarea {
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover,
.form-input:focus,
.form-textarea:hover,
.form-textarea:focus {
  border: 2px solid var(--orange);
}

.form-input.phone-number {
  padding-left: 120px;
}

.form-textarea {
  resize: none;
}

.best-seller-form-field .form-label {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.best-seller-icon {
  position: absolute;
  top: 60%;
  left: 12px;
  transform: translateY(-50%);
}

.country-code {
  color: #000;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.36px;
  padding-right: 10px;
  border-right: 2px solid rgba(64, 64, 64, 0.3);
}

.master-icon {
  position: absolute;
  top: 60%;
  right: 12px;
  transform: translateY(-50%);
}

.best-seller-name-surname {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 21px;
  }
}

.name-surname .form-input {
  @media screen and (min-width: 1200px) {
    padding: 15px 50px;
  }
}

.best-seller-modal-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  color: #fff;
  background-color: var(--orange);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 14px 40px;
  margin-left: 48px;
  border-radius: 100px;
  border: none;
}

.best-seller-modal-btn:hover,
.best-seller-modal-btn:focus {
  color: var(--orange);
  background-color: #fcf1e0;
}
