/*-----------------------------------*\
#style.css
\*-----------------------------------*/
:root {
  --whitecolor: white;
  --Tertiary: #eef1f4;
  --orange: #fd9222;
  --black: #000000;
}

/*-----------------------------------*\
#Subscribe
\*-----------------------------------*/
.container-subscribe {
  display: flex;
  flex-direction: column;
  /* padding: 72px 367px 72px 366px; */
  padding: 60px 20px;
  width: 100%;
  height: 370px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url(../images/subscribe-m.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.2) 0%,
        rgba(0, 0, 0, 0.2) 100%
      ),
      url(../images/subscribe-m@2x.jpg);
  }

  /* 768 Tablet */
  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.2) 0%,
        rgba(0, 0, 0, 0.2) 100%
      ),
      url(../images/subscribe-t.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.2) 0%,
          rgba(0, 0, 0, 0.2) 100%
        ),
        url(../images/subscribe-t@2x.jpg);
    }
  }

  /* Desktop */
  @media screen and (min-width: 1158px) {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.2) 0%,
        rgba(0, 0, 0, 0.2) 100%
      ),
      url(../images/subscribe-d.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.2) 0%,
          rgba(0, 0, 0, 0.2) 100%
        ),
        url(../images/subscribe-d@2x.jpg);
    }
  }
}

.footer-header {
  color: var(--whitecolor);
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.72px;
  text-transform: uppercase;
  padding-bottom: 24px;
}

.footer-description {
  width: 326px;
  color: var(--whitecolor);
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.28px;
  padding-bottom: 24px;

  @media screen and (min-width: 768px) {
    width: 460px;
  }
}

.footer-button.subscribe {
  display: flex;
  align-items: center;
  justify-content: center;

  border-color: transparent;
  font-family: 'Montserrat';
  cursor: pointer;
  color: #fff;
  background-color: var(--orange);
  font-size: 14px;
  font-weight: 600;
  gap: 14px;
  outline: none;
  border: none;
  padding: 14px 40px;
  border-radius: 100px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
  }
}

.footer-button.subscribe:hover,
.footer-button.subscribe:focus {
  color: var(--orange);
  background-color: white;
}

/*-----------------------------------*\
  #Modal
\*-----------------------------------*/
.footer-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 538px;
  height: 412px;
  /* min-width: 408px;
  min-height: 584px; */
  background: url(../images/bg-modal-d.jpg), lightgray 50%;
  background-repeat: no-repeat;
  background-position: top;
  background-color: var(--Tertiary);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 15px;
}

.footer-backdrop.is-hidden .footer-modal {
  transform: translate(-50%, -50%) scale(0);
}

.footer-modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 28px;
  height: 28px;

  background-color: transparent;
  stroke: var(--Tertiary);
  border: none;
  outline: none;
  cursor: pointer;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-modal-close-icon {
  stroke: #ffffff;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linecap: round;
  fill: currentColor;

  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-modal-close-icon:hover,
.footer-modal-close-icon:focus {
  stroke: var(--orange);
}

.is-hidden {
  visibility: none;
  opacity: 0;
  pointer-events: none;
}

.footer-modal-close:hover,
.footer-modal-close:focus {
  stroke: #fd9222;
}

/*-----------------------------------*\
#Modal Form EDIT
\*-----------------------------------*/
.footer-header-form {
  color: var(--black);
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.72px;
  text-transform: uppercase;
  margin-top: 236px;
  margin-left: 40px;
  gap: 28px;
}

.footer-header-form-title {
  color: var(--orange);
}

.footer-label-form {
  color: var(--Tertiary);
  display: flex;
  width: 313px;
  height: 52px;
  padding: 14px 24px;
  align-items: flex-start;
  gap: 40px;
  border-radius: 30px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
}

.footer-label-input {
  /* color: #4040404D; */
  color: white;
  background-color: transparent;
  outline: none;
  display: flex;
  align-items: center;
  gap: 21.78px;
  flex: 1 0 0;
  border: 1px solid rgba(17, 17, 17, 0.05);
  align-self: stretch;
}

.footer-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding-top: 28px;
}

.footer-modal-form-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: transparent;
  font-family: 'Montserrat';
  cursor: pointer;
  color: #fff;
  background-color: var(--orange);
  font-size: 14px;
  font-weight: 600;

  width: 137px;
  height: 52px;
  padding: 17px 40px;

  outline: none;
  border: none;
  gap: 8px;
  border-radius: 100px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    padding: 17px 40px;
  }
}

.footer-modal-form-button:hover,
.footer-modal-form-button:focus {
  color: var(--orange);
  background-color: white;
}

/*-----------------------------------*\
#Footer OKAY
\*-----------------------------------*/

.footer-section {
  background-color: #1e1823;
  padding-top: 50px;

  @media screen and (min-width: 768px) {
  }
}

.footer-container {
  margin: 0 auto;

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}

.footer-box {
  display: flex;
  flex-direction: column;
  /* margin-bottom: 50px; */
  gap: 32px;

  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}

.footer-paragraph {
  display: inline-block;
  padding-left: 20px;

  font-family: 'Montserrat';
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.48px;

  @media screen and (min-width: 768px) {
    font-size: 28px;
    line-height: 34px;
    letter-spacing: -0.56px;
  }
}

.footer-logo {
  color: var(--orange);
}

.footer-block {
  color: var(--whitecolor);
}

hr {
  width: 96.5%;
  height: 0px;
  background: rgba(255, 255, 255, 0.1);
  border: 0.5px solid rgba(58, 58, 58, 0.05);
  margin-top: 20px;

  @media screen and (min-width: 1200px) {
    margin-top: 62px;
    margin-bottom: 24px;
  }
}

.contact.link {
  color: var(--whitecolor);
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.28px;
}

.footer-heading {
  padding-bottom: 14px;
  padding-left: 20px;

  color: var(--whitecolor);
  text-align: left;
  font-family: 'Montserrat';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}

.footer-contacts-container {
  display: flex;

  @media screen and (min-width: 768px) {
    margin-left: auto;
    gap: 50px;

    position: relative;
    top: -90px;
  }

  @media screen and (min-width: 1200px) {
    top: 10px;
  }
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-socials-container {
  justify-content: flex-end;
  margin-left: auto;
  padding-right: 20px;
}

.contact-footer-menu {
  color: var(--whitecolor);
  margin-left: auto;
  padding-left: 20px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.contact-link {
  @media screen and (min-width: 768px) {
    position: fixed;
    left: 65%;
    bottom: 190px;
  }
}

.footer-social {
  display: flex;
  justify-content: flex-end;
  gap: 18px;
}

.footer-icon-item {
  cursor: pointer;
}

.footer-icon-item-icon {
  fill: none;
  width: 24px;
  height: 24px;
  overflow: hidden;
  stroke: #ffffff;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linecap: round;

  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-item-icon:hover,
.footer-icon-item-icon:focus {
  stroke: #fd9222;
}

.footers {
  /* display: flex; */
  display: inline-block;

  padding-left: 32px;
  padding-bottom: 50px;
  gap: 24px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.footer-link {
  position: relative;
  margin-top: 20px;

  @media screen and (min-width: 768px) {
  }
}

.footer-link-item {
  color: var(--whitecolor);
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link-item:hover,
.footer-link-item:focus {
  color: #fd9222;
}

.footer-link-item::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  border-radius: 2px;
  background-color: #fd9222;

  transition: all 250ms ease;
}

.footer-link-item:hover::after {
  width: 100%;
}
