/* TITLE SECTION */
.section-title {
  text-align: center;
  justify-content: center;
  padding-bottom: 28px;
}

span.taste-title {
  color: #fd9222;
}
.title-description {
  padding-bottom: 0px;
  text-align: center;
}
