<!--This is Subscribe-->
<div class="container-subscribe" id="footer" data-aos="fade-up" data-aos-delay="700" data-aos-offset="200"
    data-aos-duration="1500" data-aos-easing="ease-in-out" data-aos-mirror="false" data-aos-once="true">
    <h1 class="footer-header">
        EXPLORE OUR NEW<br>CHOCOLATE FIRST
    </h1>
    <p class="footer-description">
        From the velvet texture to the rich and complex flavor, our New<br>
        Chocolate is a true indulgence that will leave you creaving more. Made <br>
        with only the finest ingredients and handcrafted with the utmost<br>
        care, each piece is a work of art that is sure to please.
    </p>
    <button type="footer-button" class="footer-button subscribe" footer-modal-open>Subscribe</button>
</div>

<!--This is Footer-->
<footer class="footer-section section">
    <div class="footer-container">
        <div class="footer-box">
            <p class="footer-paragraph">
                <span class="footer-logo">Chocolate</span><span class="footer-block"> a delicious<br>cure for a bad
                    day</span>
            </p>
            <div class="footer-contacts-container">
                <div class="footer-contacts">
                    <h2 class="footer-heading">Contact us</h2>
                    <ul class="contact-footer-menu list">
                        <li class="contact-footer-menu-item">
                            <a href="tel:+380684439426" class="contact link">+380 (68) 443-94-26</a>
                        </li>
                        <li class="contact-footer-menu-item">
                            <a href="mailto:simplychoc@gmail.com" class="contact link">simplychoc@gmail.com</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-socials-container">
                    <ul class="footer-social">
                        <li class="footer-icon-item">
                            <a class="link" href="https://instagram.com" target="_blank" rel="noopener noreferrer"
                                arial-label="Link to Instagram">
                                <svg class="footer-icon-item-icon" width="24" height="24">
                                    <use href="./images/footer-subscribe-icons.svg#icon-instagram"></use>
                                </svg>
                            </a>
                        </li>

                        <li class="footer-icon-item">
                            <a class="link" href="https://twitter.com" target="_blank" rel="noopener noreferrer"
                                arial-label="Link to Instagram">
                                <svg class="footer-icon-item-icon" width="24" height="24">
                                    <use href="./images/footer-subscribe-icons.svg#icon-twitter"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <hr>
        <ul class="footers list">
            <li class="footer-link">
                <a href="./index.html" class="footer-link-item">Home</a>
            </li>
            <li class="footer-link">
                <a href="#how-its-made" class="footer-link-item">How it's made?</a>
            </li>
            <li class="footer-link">
                <a href="#our-products" class="footer-link-item">Our products</a>
            </li>
            <li class="footer-link">
                <a href="#top-sellers" class="footer-link-item">Top sellers</a>
            </li>
            <li class="footer-link">
                <a href="#reviews" class="footer-link-item">Chocolate is loved</a>
            </li>
        </ul>
    </div>
</footer>

<!--This is Modal-->
<div class="footer-backdrop is-hidden" footer-data-modal>
    <div class="footer-modal">
        <button type="button" class="footer-modal-close" footer-modal-close>
            <svg class="modal-close-icon" width="28" height="28">
                <use href="./images/footer-subscribe-icons.svg#modal-close"></use>
            </svg>
        </button>

        <h2 class="footer-header-form">EXPLORE OUR<br>
            <span class="footer-header-form-title">NEW CHOCOLATE</span>
            FIRST!
        </h2>

        <ul class="footer-form-container">
            <label class="footer-label-form">
                <input type="email" class="footer-label-input" name="email-address" placeholder="Enter your email"
                    required />
            </label>
            <button type="submit" class="footer-modal-form-button">Subscribe</button>
        </ul>
    </div>
