<section class="ingredients-section-container container">

    <div class="chocolate-box">
      <img class="ingredient-picture" src="./images/milk-chocolate.png" alt="milk-chocolate.jpg"/>
      <h4 class="ingredients-name-white">MILK-CHOCOLATE</h4>
      <div class="chocolate-overlay">
        <h5>MILK CHOCOLATE</h5>
        <div class="ingredients-title-container">      
          <p class="orange-title">chocolate</p><p class="white-title">the benefits</p>
        </div>
        <div class="ingredients-box-description">
          <p>
            Milk chocolate is a solid chocolate</br> 
            confectionery containing cocoa,</br>
            sugar and milk. It is the most</br> 
            consumed type of chocolate.</br> 
            Chocolate was originally sold and</br>
            consumed as a beverage in pre-</br>
            Columbian times. Although four-</br>
            fifths of all milk chocolate is sold</br>
            in the United States and Europe.</br>
          </p>
        </div>

      </div>
    </div>
    
    <div class="milk-box">
      <img class="ingredient-picture" src="./images/milk.png" alt="milk" class=/>
      <h4 class="ingredients-name-black">MILK</h4>
      <div class="milk-overlay">
        <h5>MILK</h5>
        <div class="ingredients-title-container">      
          <p class="orange-title">milk</p><p class="white-title">the benefits</p>
        </div>
        <div class="ingredients-box-description">
          <p>
            Milk is a white liquid food</br>
            produced by the mammary</br>
            glands of mammals. It is the</br>
            primary source of nutrition for</br>
            young mammals (including</br>
            breastfed human infants) before</br>
            they are able to digest solid</br>
            food.Early-lactation milk, which is</br>
            called colostrum, contains </br>
            antibodies that strengthen the immune system.</br>
          </p>
        </div>
      </div>
    </div>
    
    <div class="nuts-box">
      <img class="ingredient-picture" src="./images/nuts.png" alt="nuts"/>
      <h4 class="ingredients-name-white">NUTS</h4>
      <div class="nuts-overlay">
        <h5>NUTS</h5>
        <div class="ingredients-title-container">      
         <p class="orange-title">nuts</p><p class="white-title">the benefits</p>
       </div>
       <div class="ingredients-box-description">
        <p>
          Almonds, pistachios, and walnuts</br>
          are some types of nuts that</br>
          contain healthy nutrients. When</br>
          eaten as part of a nutrient-dense</br>
          diet, these 9 nuts may offer</br>
          benefits such as reducing your</br>
          risk of heart disease. They're a</br>
          good source of fiber, healthy fats,</br>
          and plant protein. Plus, they're</br>
          great on their own.</br>  
        </p>
       </div>
      </div>
    </div>
    
    <div class="sweet-chocolate-box">
      <img class="ingredient-picture" src="./images/sweet-chocolate.png" alt="sweet-chocolate"/>
      <h4 class="ingredients-name-black">SWEET-CHOCOLATE</h4>
      <div class="sweet-chocolate-overlay">
        <h5>SEMI SWEET-CHOCOLATE</h5>
        <div class="ingredients-title-container">      
         <p class="orange-title">sweet-chocolate</p><p class="white-title">the benefits</p>
       </div>
       <div class="ingredients-box-description">
        <p>
          Semi-sweet chocolate has a</br>
          cocoa solid content of 35 to 65%.</br>
          One of the best ways to gain an</br>
          understanding of this type of</br>
          chocolate is to compare it to a</br>
          different type of chocolate.</br>
          Semisweet is darker than milk</br> 
          chocolate. In a taste comparison,</br>
          it has a slightly bitter taste</br>
          whereas milk chocolate is sweeter.</br>
        </p>
       </div>
      </div>
    </div>
  </section>
  