<!-- Our Products -->
<section class="prod section" id="our-products">
  <div class="our-products container">
    <h2 class="section-header">
      <span class="main-header">Our</span>
      <span class="color-header">Products</span>
    </h2>
    <div class="slide-container swiper">
      <div class="card-wrapper myswiper products-swiper">
        <ul class="chocolates swiper-wrapper">
          <li class="chocolates-flavor swiper-slide list">
            <img
              class="choco_img"
              srcset="./images/orange.jpg 1x, ./images/orange@2x.jpg 2x"
              src="./images/orange.jpg"
              alt="orange"
            />
            <h3 class="flavor">ORANGE</h3>
            <p class="variety">Dark Chocolate</p>
            <button class="price">45 UAH</button>
          </li>
          <li class="chocolates-flavor swiper-slide list">
            <img
              class="choco_img"
              srcset="
                ./images/Apple&Cranberry.jpg    1x,
                ./images/Apple&Cranberry@2x.jpg 2x
              "
              src="./images/Apple&Cranberry.jpg"
              alt="Apple and Cranberry"
            />
            <h3 class="flavor">APPLE&CRANBERRY</h3>
            <p class="variety">Milk Chocolate</p>
            <button class="price">50 UAH</button>
          </li>
          <li class="chocolates-flavor swiper-slide list">
            <img
              class="choco_img"
              srcset="
                ./images/Lime&SeaSalt.jpg    1x,
                ./images/Lime&SeaSalt@2x.jpg 2x
              "
              src="./images/Lime&SeaSalt.jpg"
              alt="Lime and Sea Salt"
            />
            <h3 class="flavor">LIME&SEA SALT</h3>
            <p class="variety">Dark Chocolate</p>
            <button class="price">66 UAH</button>
          </li>
          <li class="chocolates-flavor swiper-slide list">
            <img
              class="choco_img"
              srcset="./images/Pinapple.jpg 1x, ./images/Pinapple@2x.jpg 2x"
              src="./images/Pinapple.jpg"
              alt="Pinapple"
            />
            <h3 class="flavor">PINEAPPLE</h3>
            <p class="variety">Dark Chocolate</p>
            <button class="price">54 UAH</button>
          </li>
          <li class="chocolates-flavor swiper-slide list">
            <img
              class="choco_img"
              srcset="./images/Classic.jpg 1x, ./images/Classic@2x.jpg 2x"
              src="./images/Classic.jpg"
              alt="Classic Dark"
            />
            <h3 class="flavor">CLASSIC</h3>
            <p class="variety">Milk Chocolate</p>
            <button class="price">45 UAH</button>
          </li>
          <li class="chocolates-flavor swiper-slide list">
            <img
              class="choco_img"
              srcset="./images/Honey.jpg 1x, ./images/Honey@2x.jpg 2x"
              src="./images/Honey.jpg"
              alt="Honey"
            />
            <h3 class="flavor">HONEY</h3>
            <p class="variety">Milk Chocolate</p>
            <button class="price">50 UAH</button>
          </li>
          <li class="chocolates-flavor swiper-slide list">
            <img
              class="choco_img"
              srcset="
                ./images/Roasted-Fruits.jpg    1x,
                ./images/Roasted-Fruits@2x.jpg 2x
              "
              src="./images/Roasted-Fruits.jpg"
              alt="Roasted Fruits"
            />
            <h3 class="flavor">ROASTED FRUITS</h3>
            <p class="variety">Dark Chocolate</p>
            <button class="price">66 UAH</button>
          </li>
          <li class="chocolates-flavor swiper-slide list">
            <img
              class="choco_img"
              srcset="
                ./images/Classic-White.jpg    1x,
                ./images/Classic-White@2x.jpg 2x
              "
              src="./images/Classic-White.jpg"
              alt="Classic White"
            />
            <h3 class="flavor">CLASSIC</h3>
            <p class="variety">White Chocolate</p>
            <button class="price">54 UAH</button>
          </li>
        </ul>
      </div>
      <div class="swiper-pagination products-swiper-pagination"></div>
    </div>
  </div>
</section>
<!-- Swiper JS -->
<!-- <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script> -->
