<!--REVIEWS SECTION-->
<section class="reviews-section section" id="reviews">
  <div class="review-container container">
    <!--SECTION HEADER-->
    <h3 class="reviews-section-header">
      <span class="reviews-header-span">CHOCOLATE</span> IS LOVED
    </h3>

    <!--CUSTOMER REVIEWS-->
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="swiper-reviews">
            <img
              srcset="/src/images/reviewer1.jpeg x1, /src/images/reviewer1@2x.jpg x2"
              src="./images/reviewer1.jpeg"
              alt="review1"
              width="80"
              height="80"
              class="img"
            />
            <div class="swiper-details">
              <h3 class="reviewer-name">Victoria Dobrzhanska</h3>
              <p class="reviewer-comments">
                I love this chocolate bar. Perfect combination <br />
                of light crispy wafer, covered in a thin layer <br />
                chocolate.
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-reviews">
            <img
              srcset="/src/images/reviewer2.jpeg x1, /src/images/reviewer2@2x.jpg x2"
              src="./images/reviewer2.jpeg"
              alt="review2"
              width="80"
              height="80"
              class="img"
            />
            <div class="swiper-details">
              <h3 class="reviewer-name">Nazar Babenko</h3>
              <p class="reviewer-comments">
                This chocolate confection is a delight! A <br />
                delight! The wafer is light and crisp, the <br />
                hazelnut cream is smooth, and the chocolate <br />
                is good.
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-reviews">
            <img
              srcset="/src/images/reviewer3.jpeg x1, /src/images/reviewer3@2x.jpg x2"
              src="./images/reviewer3.jpeg"
              alt="review3"
              width="80"
              height="80"
              class="img"
            />
            <div class="swiper-details">
              <h3 class="reviewer-name">Olena Kampusch</h3>
              <p class="reviewer-comments">
                Chocolate is a family favourite treat. Love the <br />
                delicious smooth chocolate and the <br />
                creaminess inside. The wafer is soft but <br />
                crunchy.
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-reviews">
            <img
              srcset="/src/images/reviewer4.jpeg x1, /src/images/reviewer4@2x.jpg x2"
              src="./images/reviewer4.jpeg"
              alt="review4"
              width="80"
              height="80"
              class="img"
            />
            <div class="swiper-details">
              <h3 class="reviewer-name">Natalia Sus</h3>
              <p class="reviewer-comments">
                The chocolate assortment was delicious. Both <br />
                dark and milk chocolate pieces were smooth <br />
                and just right on the sweetness level.
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-reviews">
            <img
              srcset="/src/images/reviewer5.jpeg x1, /src/images/reviewer5@2x.jpg x2"
              src="./images/reviewer5.jpeg"
              alt="review5"
              width="80"
              height="80"
              class="img"
            />
            <div class="swiper-details">
              <h3 class="reviewer-name">Danilo Nottingham</h3>
              <p class="reviewer-comments">
                This is delicious. It so rich and flavorful you <br />
                don’t need to use as many. I love topping an <br />
                apple with almond butter and these chips <br />
                for a snack.
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-reviews">
            <img
              srcset="/src/images/reviewer6.jpg x1, /src/images/reviewer6@2x.jpg x2"
              src="./images/reviewer6.jpg"
              alt="review6"
              width="80"
              height="80"
              class="img"
            />
            <div class="swiper-details">
              <h3 class="reviewer-name">Irina Tydnyuk</h3>
              <p class="reviewer-comments">
                This is simply the best chocolate around, and <br />
                I'm just thrilled to support a local company! <br />
                Best local chocolate - world class :)
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>

    <!--Button-->
    <button type="button" class="reviews-button button" reviews-modal-open>
      Leave a review
    </button>
  </div>
</section>

<!--REVIEWS-MODAL-->
<div class="backdrop is-hidden" reviews-data-modal>
  <div class="reviews-modal modal">
    <button class="reviews-modal-close" type="button" reviews-modal-close>
      <svg class="reviews-modal-close-icon" width="28" height="28">
        <use href="./images/reviews-icons.svg#close-icon"></use>
      </svg>
    </button>

    <!--MODAL CONTENTS-->
    <p class="reviews-modal-title">
      LEAVE A REVIEW <br class="break" />
      ABOUT <br class="break2" />
      <span class="modal-title-span">OUR CHOCOLATE</span>
    </p>
    <form class="reviews-form" name="reviews-modal-form">
      <!--Name-->
      <label class="reviews-form-field">
        <input
          class="reviews-form-input"
          type="text"
          name="user-name"
          placeholder="Name"
          required
        />
      </label>

      <!--Email-->
      <label class="reviews-form-field">
        <input
          class="reviews-form-input"
          type="email"
          name="user-email"
          placeholder="Email"
          required
        />
      </label>

      <!--Phone-->
      <label class="reviews-form-field">
        <div class="phone-container">
          <svg class="flag-icon">
            <use
              href="./images/reviews-icons.svg#flag-icon"
              width="32"
              height="24"
            ></use>
          </svg>
          <p class="area-code">+380</p>
        </div>
        <input
          class="form-input-phone"
          type="tel"
          name="user-phone"
          placeholder="Phone Number"
          required
        />
      </label>

      <!--Comments-->
      <label class="reviews-form-field">
        <textarea
          class="reviews-form-textarea"
          name="user-feedback"
          rows="8"
          placeholder="Enter text"
        ></textarea>
      </label>

      <!--Form Button-->

      <button class="reviews-button-forms button" type="submit">Send</button>
    </form>
  </div>
</div>
